/**Una regla css consta de dos partes:
1) el selector
2) el bloque de declaraciones 
atributo:valor*/
html {
    scroll-behavior: smooth;;
}
body {
    
    background-color:#f005;
    margin: 0;
}
a {
    margin: 3px;
}
h2:target{color: #005;}
.css-curso {color:#00f;}
/*    */
h1{color: orangered;  }
#box{color: #f50;
    border: 3px;
border-color: blue;
width: 200px;
height: 200px;
}